.deets
{
    display: flex; justify-content: space-between; margin-bottom: 4em;
    section { width: 30%; flex: 2; }

    section:nth-child(2) { flex: 1; margin: 0 84px; }

    h2 { margin: 0; font-size: 30px; color: $blue; line-height: 35px; }

    .content{
        font-size: 24px; font-weight: 300;
    }

    @include media($tablet)
    {
        flex-direction: column;
        section {
            width: 100%; margin: 1em 0 !important;
            display: flex; align-items: center;
            p { margin: 0; }
            h2 { margin-right: auto; }
            &:first-child {
                //align-items: flex-start;
                flex-direction: column;
                max-width: 500px;
                align-self: center;
                text-align: center;
            }
        }
    }

    @include media($pre_mobile)
    {
        section {
            &:first-child {
                //align-items: flex-start;
                flex-direction: column;
                max-width: 500px;
                align-self: flex-end;
                text-align: left;
                align-items: flex-start;
            }
        }
    }
}